:root {
  --ion-color-primary: #f26522;
  --ion-color-primary-rgb: 242, 101, 34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d5591e;
  --ion-color-primary-tint: #f37438;

  --ion-color-secondary: #7a2b84;
  --ion-color-secondary-rgb: 122, 43, 132;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6b2674;
  --ion-color-secondary-tint: #874090;

  --ion-color-tertiary: #8dc63f;
  --ion-color-tertiary-rgb: 141, 198, 63;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7cae37;
  --ion-color-tertiary-tint: #98cc52;

  --ion-color-success: #8dc63f;
  --ion-color-success-rgb: 141, 198, 63;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #7cae37;
  --ion-color-success-tint: #98cc52;

  --ion-color-warning: #fdb913;
  --ion-color-warning-rgb: 253, 185, 19;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dfa311;
  --ion-color-warning-tint: #fdc02b;

  --ion-color-danger: #ea2762;
  --ion-color-danger-rgb: 234, 39, 98;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ce2256;
  --ion-color-danger-tint: #ec3d72;

  --ion-color-light: #fdfaf4;
  --ion-color-light-rgb: 253, 250, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dfdcd7;
  --ion-color-light-tint: #fdfbf5;

  --ion-color-dark: #121212;
  --ion-color-dark-rgb: 18, 18, 18;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0f0f0f;
  --ion-color-dark-tint: #2a2a2a;

  --ion-color-medium: #636e72;
  --ion-color-medium-rgb: 99, 110, 114;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #576164;
  --ion-color-medium-tint: #727d80;

  --ion-text-color: #121212;
  --ion-text-color-rgb: 18, 18, 18;

  --ion-font-family: 'Inter', sans-serif;
}